body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   display: flex;
   justify-content:center; 
   align-items: center;
  }
  
  .container {
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] 
   {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #signup-success {
    color: rgb(92, 0, 128);
    text-align: center;
    margin-top: 10px;
  }
  